/* Untuk Tablet */
@media all and (max-width: 1000px) {
    .content {
        width: 50%;
      }
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
    .header-list {
        display: none;
    }

    .header-logo {
        width: 100px;
    }
      
    span.menu-icon {
        display: block;
        /* padding-right: 100px; */
        /* padding-right: 20px; */
    }

    .content {
        width: 100%;
    }

    .message-wrapper {
        height: 450px;
    }
    
    .slides {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
    }

    .slide {
        flex: auto;
        width: 100%;
    }

    .slide-icon {
        float: left;
        width: 150px;
    }

    footer {
        text-align: center;
    }
}
